<% if current_user && current_auth %>
  <h1>User Profile</h1>
  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
  </p>
  <p>
    <strong>Provider:</strong>
    <%= current_auth.provider %>
  </p>
  <p>
    <strong>OmniAuth UID:</strong>
    <%= current_auth.uid %>
  </p>
  <p><%= link_to "Log out", signout_path %></p>
<% else %>

  <div class="sidebar">
    <h1>Sign In</h1>

    <div class="auth_providers">

      <!--
      <a href="/auth/twitter" class="auth_provider">
        <%= image_tag "twitter_64.png", size: "64x64", alt: "Twitter" %>
        Twitter
      </a>
      -->
      <a href="/auth/facebook" class="auth_provider">
        <%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %>
        Facebook
      </a>
      <a href="/auth/google_oauth2" class="auth_provider">
        <%= image_tag "google_apps_64.png", size: "64x64", alt: "Google" %>
        Google
      </a>
    </div>
  </div>
  <div class="content well">
    <p>
      <strong>Don't use these services?</strong>
      <%= link_to "Create an account", new_identity_path %> or login below.
    </p>

    <%= form_tag "/auth/identity/callback" do %>
      <div class="clearfix">
        <%= label_tag :auth_key, "Email" %>
        <div class="input">
          <%= text_field_tag :auth_key, nil, class: "xlarge", size: 30 %>
        </div>
      </div>

      <div class="clearfix">
        <%= label_tag :password, "Password" %>
        <div class="input">
          <%= password_field_tag :password, nil %>
        </div>
      </div>
      <div class="actions">
        <%= submit_tag "Login", class: "btn primary" %>
      </div>
    <% end %>

<% end %>
